# Jupyter
.ipynb_checkpoints/

# Cartelle generate dai grafici
Plots/
Analysis1/Plots/
Analysis2/Plots/

# File temporanei Python
__pycache__/
*.pyc

# Ambienti virtuali
.env
# File temporanei di Jupyter/Colab
.ipynb_checkpoints/
*.pyc
__pycache__/
__pycache__/
*.pyc
.vscode/
.history/
